Repository TiagoMSSantos/MobileRT: changes, and which Codecov flags are due for each by the changed paths.
All: Android, Native, Shell-scripts

codecov.yml:

ignore:
  - "**/third_party/**"
  - "**/Unit_Testing/**"
  - "**/test/**"
  - "**/androidTest/**"
  - "gradlew"

codecov:
  require_ci_to_pass: true
  bot: "codecov-bot"
  max_report_age: off
  disable_default_path_fixes: false
  allow_pseudo_compare: true
  notify:
    after_n_builds: 1
    wait_for_ci: true
    notify_error: true
    manual_trigger: false

coverage:
  precision: 2
  round: down
  range: "0..100"
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    project:
      Android:
        target: 72%
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false
        if_not_found: failure
        removed_code_behavior: false
        paths:
          - app/**/*.java
          - app/**/*.kt
          - app/System_dependent/Android_JNI/**
      Native:
        target: 88%
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false
        if_not_found: failure
        removed_code_behavior: false
        paths:
          - app/**/*.cpp
          - app/**/*.hpp
          - app/**/*.h
          - "!app/System_dependent/**"
          - app/System_dependent/Native/**
      Shell-scripts:
        target: 5%
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false
        if_not_found: failure
        removed_code_behavior: false
        paths:
          - scripts/*.sh
          - scripts/**/*.sh
      default:
        # Note that code coverage requires the following tests to validate the whole codebase:
        # * Android tests (from Android workflow)
        # * Native tests (from Native workflow)
        # * Shell script tests (from Code Analysis workflow)
        # So, if not all workflows above were executed, then the code coverage is not valid.
        target: 53%
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false
        if_not_found: failure
        removed_code_behavior: false
    patch:
      default:
        target: auto
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false
        if_not_found: failure
        removed_code_behavior: false
    changes:
      default:
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false
        if_not_found: failure
        removed_code_behavior: false

parsers:
  jacoco:
    partials_as_hits: false
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
  cobertura:
    partials_as_hits: false
    handle_missing_conditions: false

comment:
  layout: "header, diff, flags, components, reach, tree, files"  # show component info in the PR comment
  behavior: "default"
  require_changes: false
  require_head: false
  require_base: false
  show_carryforward_flags: false

github_checks:
  annotations: true

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: module_android  # this is an identifier that should not be changed
      name: Android  # this is a display name, and can be changed freely
      paths:
        - app/**/*.java
        - app/**/*.kt
        - app/System_dependent/Android_JNI/**
    - component_id: module_native
      name: Native
      paths:
        - app/**/*.cpp
        - app/**/*.hpp
        - app/**/*.h
        - "!app/System_dependent/**"
        - app/System_dependent/Native/**
    - component_id: module_shell_scripts
      name: Shell-scripts
      paths:
        - scripts/*.sh
        - scripts/**/*.sh

fix(android): Add missing double quote to prevent globbing
  scripts/run_tests_android.sh
Due: Shell-scripts

chore(docs): Update documentation regarding supporting Qt 6
  .bettercodehub.yml
  .jscpd.json
  docs/FEATURES.md
  docs/README.md
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: none

chore(build.gradle): Throw exception if androidApiVersion is empty
  build.gradle
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: none

ci(android): Replace Android API 29 with APIs 16 and 19
  .github/workflows/android-matrix.json
  .github/workflows/reusable-android.yml
  docs/README.md
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: none

ci(android): Only upload APKs from release builds
  .github/workflows/reusable-android.yml
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: none

fix(build.gradle): Fix Android dependencies for Android APIs 16 & 19
  build.gradle
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: none

ci(renovate): Do not update Espresso for Android API 19 & 20
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
  renovate.json
Due: none

ci(renovate): Small fix
  renovate.json
Due: none

fix(build.gradle): Downgrade androidx.core to v1.15 for Android 4.1
  build.gradle
Due: none

fix(build.gradle): Downgrade androidx.core to v1.13 for Android 4.1
  build.gradle
Due: none

fix(build.gradle): Downgrade JUnit to v1.2 for Android 4.4
  build.gradle
  renovate.json
Due: none

ci(renovate): Do not update JUnit for Android API 19
  renovate.json
Due: none

ci(workflows): Update Qt to v6.10 on Windows
  .github/workflows/android.yml
  .github/workflows/android_repeatable.yml
  .github/workflows/native-matrix.json
  .github/workflows/reusable-android.yml
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
  scripts/run_tests_android.sh
Due: Shell-scripts

fix(mobilertapp): Fix SD card path for Android API 18 & 22
  app/Components/Loaders/OBJLoader.cpp
  app/src/main/java/puscas/mobilertapp/MainActivity.java
  app/src/main/java/puscas/mobilertapp/utils/UtilsContext.java
  app/src/test/java/puscas/mobilertapp/MainActivityTest.java
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
  scripts/run_tests_android.sh
Due: Android, Native, Shell-scripts

ci(android): Make all upload-artifact overwrite previous artifacts
  .github/workflows/android_repeatable.yml
  .github/workflows/reusable-android.yml
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: none

ci(codeql): Increase timeout for step "Install dependencies"
  .github/workflows/codeql.yml
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: none

ci(android): Delete unnecessary Android SDK components
  .github/workflows/android_repeatable.yml
  .github/workflows/reusable-android.yml
  scripts/run_tests_android.sh
  scripts/test/utils/utils.sh
Due: Shell-scripts

fix(mobilertapp): Fix SD Card path for Android API 21
  app/src/main/java/puscas/mobilertapp/utils/UtilsContext.java
  scripts/run_tests_android.sh
Due: Android, Shell-scripts

fix(android): Fix SD card path for Android API 19
  scripts/run_tests_android.sh
Due: Shell-scripts

ci(android): Add job to test a random Android API version
  .github/workflows/android-matrix.json
  .github/workflows/android.yml
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: none

ci(workflows): Remove job using MacOS 13
  .github/workflows/native-matrix.json
  .github/workflows/reusable-android.yml
  docs/README.md
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
  scripts/docker.sh
Due: Shell-scripts

ci(native): Downgrade Qt to v6.9.1 on Windows 11 job
  .github/workflows/native-matrix.json
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: none

ci(android): Make repeatable workflow use Android API 18 and 33
  .github/workflows/android_repeatable-matrix.json
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: none

ci(android_repeatable): Add Android API version in the job name
  .github/workflows/android_repeatable.yml
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: none

ci(android_repeatable): Add step to delete unnecessary Android SDK components
  .github/workflows/android_repeatable.yml
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: none

fix(Gemfile): Update bashcov and simplecov versions
  Gemfile
Due: none

ci(native): Trigger Native workflow if Gemfile is modified
  .github/workflows/native.yml
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: none

ci(android): Use Android emulator with x64 CPU for Android API > 30
  .github/workflows/android_repeatable.yml
  .github/workflows/reusable-android.yml
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: none

ci(workflows): Install Android NDK in workflow
  .github/workflows/android-matrix.json
  .github/workflows/android.yml
  .github/workflows/android_repeatable-matrix.json
  .github/workflows/android_repeatable.yml
  .github/workflows/codeql.yml
  .github/workflows/disabled/docker-matrix.json
  .github/workflows/disabled/docker.yml
  .github/workflows/disabled/jekyll-matrix.json
  .github/workflows/disabled/jekyll.yml
  .github/workflows/disabled/native-matrix.json
  .github/workflows/disabled/native.yml
  .github/workflows/disabled/reusable-native.yml
  .github/workflows/reusable-android.yml
  scripts/compile_android.sh
  scripts/run_tests_android.sh
Due: Shell-scripts

chore(AGENTS): Add a simple AGENTS.md with instructions for AI agents
  AGENTS.md
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: none

build(gradle): Remove unnecessary project files
  .gitignore
  .project
  app/.classpath
  app/.project
Due: none

ci(docker): Add permissions to read contents for Docker workflow
  .github/workflows/docker.yml
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: none

ci(docker): Validate CornellBox scene exists before execute unit tests
  .github/workflows/docker.yml
  scripts/docker.sh
Due: Shell-scripts

ci(docker): Also validate MTL and CAM files
  scripts/docker.sh
Due: Shell-scripts

ci(docker): Add step to checkout files in lfs
  .github/workflows/docker.yml
Due: none

ci(docker): Use git lfs checkout
  .github/workflows/docker.yml
Due: none

ci(docker): Add more validations
  .github/workflows/docker.yml
Due: none

ci(docker): Print CAM file
  .github/workflows/docker.yml
  scripts/docker.sh
Due: Shell-scripts

ci(docker): Add git lfs pull inside docker container
  scripts/docker.sh
Due: Shell-scripts
