Repository TiagoMSSantos/MobileRT: changes, and which Codecov flags are due for each by the changed paths.
All: Android, Native, Shell-scripts

codecov.yml:

ignore:
  - "**/third_party/**"
  - "**/Unit_Testing/**"
  - "**/test/**"
  - "**/androidTest/**"
  - "gradlew"

codecov:
  require_ci_to_pass: true
  bot: "codecov-bot"
  max_report_age: off
  disable_default_path_fixes: false
  allow_pseudo_compare: true
  notify:
    after_n_builds: 1
    wait_for_ci: true
    notify_error: true
    manual_trigger: false

coverage:
  precision: 2
  round: down
  range: "0..100"
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    project:
      Android:
        target: 72%
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false
        if_not_found: failure
        removed_code_behavior: false
        paths:
          - app/**/*.java
          - app/**/*.kt
          - app/System_dependent/Android_JNI/**
      Native:
        target: 88%
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false
        if_not_found: failure
        removed_code_behavior: false
        paths:
          - app/**/*.cpp
          - app/**/*.hpp
          - app/**/*.h
          - "!app/System_dependent/**"
          - app/System_dependent/Native/**
      Shell-scripts:
        target: 5%
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false
        if_not_found: failure
        removed_code_behavior: false
        paths:
          - scripts/*.sh
          - scripts/**/*.sh
      default:
        # Note that code coverage requires the following tests to validate the whole codebase:
        # * Android tests (from Android workflow)
        # * Native tests (from Native workflow)
        # * Shell script tests (from Code Analysis workflow)
        # So, if not all workflows above were executed, then the code coverage is not valid.
        target: 53%
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false
        if_not_found: failure
        removed_code_behavior: false
    patch:
      default:
        target: auto
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false
        if_not_found: failure
        removed_code_behavior: false
    changes:
      default:
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false
        if_not_found: failure
        removed_code_behavior: false

parsers:
  jacoco:
    partials_as_hits: false
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
  cobertura:
    partials_as_hits: false
    handle_missing_conditions: false

comment:
  layout: "header, diff, flags, components, reach, tree, files"  # show component info in the PR comment
  behavior: "default"
  require_changes: false
  require_head: false
  require_base: false
  show_carryforward_flags: false

github_checks:
  annotations: true

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: module_android  # this is an identifier that should not be changed
      name: Android  # this is a display name, and can be changed freely
      paths:
        - app/**/*.java
        - app/**/*.kt
        - app/System_dependent/Android_JNI/**
    - component_id: module_native
      name: Native
      paths:
        - app/**/*.cpp
        - app/**/*.hpp
        - app/**/*.h
        - "!app/System_dependent/**"
        - app/System_dependent/Native/**
    - component_id: module_shell_scripts
      name: Shell-scripts
      paths:
        - scripts/*.sh
        - scripts/**/*.sh

ci(codecov): Change removed_code_behavior to adjust_base for changes
  codecov.yml
Due: none

ci(android): Upload Android test results to codecov
  .github/workflows/reusable-android.yml
  codecov.yml
Due: none

ci(android): Add some parameters to test-results-action
  .github/workflows/reusable-android.yml
Due: none

ci(codeql): Trigger CodeQL workflow if any workflow is changed
  .github/workflows/codeql.yml
Due: none

ci(android): Add different flags for Unit and Instrumentation tests
  .github/workflows/reusable-android.yml
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: none

ci(android): Change Android Instrumentation tests uploaded directory
  .github/workflows/reusable-android.yml
Due: none

ci(android): Fix report_paths on action-junit-report
  .github/workflows/reusable-android.yml
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: none

ci(codecov): Ignore failures from codecov/changes
  codecov.yml
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: none

fix(mobilertapp): Add missing annotation in data classes
  app/src/main/java/puscas/mobilertapp/configs/Config.kt
  app/src/main/java/puscas/mobilertapp/configs/ConfigGlAttribute.kt
  app/src/main/java/puscas/mobilertapp/configs/ConfigRenderTask.kt
  app/src/main/java/puscas/mobilertapp/configs/ConfigResolution.kt
  app/src/main/java/puscas/mobilertapp/configs/ConfigSamples.kt
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: Android

fix(mobilertapp): Make UtilsLogging#logException to only log exceptions
  app/src/androidTest/java/puscas/mobilertapp/AbstractTest.java
  app/src/androidTest/java/puscas/mobilertapp/MainRendererTest.java
  app/src/androidTest/java/puscas/mobilertapp/RayTracingTest.java
  app/src/androidTest/java/puscas/mobilertapp/UiTest.java
  app/src/main/java/puscas/mobilertapp/DrawView.java
  app/src/main/java/puscas/mobilertapp/MainActivity.java
  app/src/main/java/puscas/mobilertapp/MainRenderer.java
  app/src/main/java/puscas/mobilertapp/RenderTask.kt
  app/src/main/java/puscas/mobilertapp/configs/ConfigRenderTask.kt
  app/src/main/java/puscas/mobilertapp/utils/Utils.java
  app/src/main/java/puscas/mobilertapp/utils/UtilsContext.java
  app/src/main/java/puscas/mobilertapp/utils/UtilsLogging.java
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: Android

refactor(MobileRT): Refactor make_unique for C++14
  app/Components/Lights/AreaLight.hpp
  app/MobileRT/Utils/Utils.hpp
  scripts/docker.sh
  scripts/helper_functions.sh
Due: Native, Shell-scripts

refactor(MobileRT): Use std::unique_ptr in make_unique to avoid CodeQL false positive
  app/Components/Loaders/OBJLoader.cpp
  app/MobileRT/Utils/Utils.hpp
Due: Native

refactor(MobileRT): Use std::make_unique again
  app/MobileRT/Utils/Utils.hpp
  app/Unit_Testing/TestOBJLoader.cpp
Due: Native

refactor(MobileRT): Change the way to unpack the parameter
  app/MobileRT/Utils/Utils.hpp
Due: Native

refactor(MobileRT): Change cast to check if CodeQL detects it properly
  app/MobileRT/Utils/Utils.hpp
Due: Native

chore(MobileRT): Log when make_unique is called
  app/MobileRT/Utils/Utils.hpp
  scripts/compile_android.sh
Due: Native, Shell-scripts

fix(build.gradle): Revert update of Gradle for Android <= 15
  .github/workflows/codeql.yml
  app/build.gradle
  build.gradle
  scripts/run_tests.sh
  scripts/run_tests_android.sh
Due: Shell-scripts

fix(MobileRT): Add log (including parameters) to every call of make_unique
  app/Components/Lights/AreaLight.hpp
  app/Components/Loaders/OBJLoader.cpp
  app/Components/Loaders/PerspectiveLoader.cpp
  app/Components/Loaders/PerspectiveLoader.hpp
  app/Components/Samplers/HaltonSeq.cpp
  app/Components/Samplers/PCG.cpp
  app/Components/Samplers/StaticHaltonSeq.cpp
  app/Components/Samplers/StaticMersenneTwister.cpp
  app/Components/Samplers/StaticPCG.cpp
  app/MobileRT/Accelerators/BVH.hpp
  app/MobileRT/Accelerators/Naive.hpp
  app/MobileRT/Accelerators/RegularGrid.hpp
  app/MobileRT/Intersection.cpp
  app/MobileRT/Intersection.hpp
  app/MobileRT/Ray.cpp
  app/MobileRT/Ray.hpp
  app/MobileRT/Renderer.cpp
  app/MobileRT/Renderer.hpp
  app/MobileRT/Sampler.cpp
  app/MobileRT/Sampler.hpp
  app/MobileRT/Scene.cpp
  app/MobileRT/Scene.hpp
  app/MobileRT/Shapes/Plane.cpp
  app/MobileRT/Shapes/Sphere.cpp
  app/MobileRT/Shapes/Triangle.cpp
  app/MobileRT/Utils/Utils.hpp
  app/Scenes/Scenes.cpp
  app/Scenes/Scenes.hpp
  app/System_dependent/Android_JNI/JNI_layer.cpp
  app/System_dependent/Native/C_wrapper.cpp
  app/Unit_Testing/TestCameraLoader.cpp
  app/Unit_Testing/TestOBJLoader.cpp
  app/Unit_Testing/engine/ShaderTestEngine.cpp
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: Android, Native

refactor(Utils.hpp): Remove unnecessary addToStringStream methods
  app/MobileRT/Utils/Utils.hpp
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: Native

ci(codecov): Make "codecov/changes" not fail even if reduced coverage
  codecov.yml
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: none

ci(workflows): Fix some linter warnings on Workflows definitions
  .github/workflows/native.yml
  .github/workflows/reusable-android.yml
  .github/workflows/reusable-native.yml
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: none

ci(codecov): Increase Android code coverage target to 79%
  codecov.yml
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: none

refactor(mobilertapp): Fix some linter warnings
  .dockerignore
  app/src/androidTest/java/puscas/mobilertapp/AbstractTest.java
  app/src/androidTest/java/puscas/mobilertapp/ConstantsAndroid.java
  app/src/androidTest/java/puscas/mobilertapp/RayTracingTest.java
  app/src/androidTest/java/puscas/mobilertapp/UiTest.java
  app/src/androidTest/java/puscas/mobilertapp/engine/AcceleratorTest.java
  app/src/androidTest/java/puscas/mobilertapp/engine/ShaderTest.java
  app/src/androidTest/java/puscas/mobilertapp/system/NativeMemoryTest.java
  app/src/androidTest/java/puscas/mobilertapp/utils/UtilsT.java
  app/src/main/java/puscas/mobilertapp/DrawView.java
  app/src/main/java/puscas/mobilertapp/MainActivity.java
  app/src/main/java/puscas/mobilertapp/constants/ConstantsError.java
  app/src/test/java/puscas/mobilertapp/Constants.java
  app/src/test/java/puscas/mobilertapp/DrawViewTest.java
  app/src/test/java/puscas/mobilertapp/MainActivityTest.java
  app/src/test/java/puscas/mobilertapp/configs/ConfigTest.java
  app/src/test/java/puscas/mobilertapp/configs/CustomNumberPickerTest.java
  app/src/test/java/puscas/mobilertapp/system/JavaMemoryTest.java
  build-wrapper-linux-x86-64
  deploy/Dockerfile.unix
  deploy/Dockerfile.windows
  docs/jscpd-report/html/index.html
  scripts/compile_android.sh
Due: Android, Shell-scripts

ci(codecov): Add code coverage target for Components
  codecov.yml
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: none

refactor(mobilertapp): Fix more linter warnings
  app/src/main/java/puscas/mobilertapp/MainActivity.java
  app/src/main/java/puscas/mobilertapp/configs/ConfigRenderTask.kt
  app/src/main/java/puscas/mobilertapp/utils/UtilsContext.java
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: Android

build(build.gradle): Update androidx.core:core-ktx
  build.gradle
Due: none

refactor(mobilertapp): Fix more linter warnings
  app/src/main/java/puscas/mobilertapp/MainActivity.java
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: Android

refactor(mobilertapp): Fix more linter warnings
  app/src/main/java/puscas/mobilertapp/utils/AsyncTaskCoroutine.kt
Due: Android

refactor(mobilertapp): Fix more linter warnings
  app/src/androidTest/java/puscas/mobilertapp/PreviewTest.java
  app/src/main/java/puscas/mobilertapp/MainActivity.java
  app/src/main/java/puscas/mobilertapp/MainRenderer.java
Due: Android

fix(onDrawFrame): Don't throw exception if drawBitmap fails during 1st frame
  app/src/main/java/puscas/mobilertapp/MainRenderer.java
Due: Android

refactor(mobilertapp): Fix more linter warnings
  app/src/androidTest/java/puscas/mobilertapp/UiTest.java
  app/src/main/java/puscas/mobilertapp/DrawView.java
  app/src/main/java/puscas/mobilertapp/MyEglContextFactory.java
  app/src/main/java/puscas/mobilertapp/exceptions/LowMemoryException.java
  app/src/main/java/puscas/mobilertapp/utils/AsyncTaskCoroutine.kt
  app/src/test/java/puscas/mobilertapp/MyEglContextFactoryTest.java
  app/src/test/java/puscas/mobilertapp/exceptions/LowMemoryExceptionTest.java
Due: Android

refactor(mobilertapp): Fix more linter warnings
  app/src/main/java/puscas/mobilertapp/MyEglContextFactory.java
  app/src/main/java/puscas/mobilertapp/utils/AsyncTaskCoroutine.kt
Due: Android

refactor(mobilertapp): Fix more linter warnings
  app/src/main/java/puscas/mobilertapp/exceptions/LowMemoryException.java
  app/src/main/java/puscas/mobilertapp/utils/UtilsContext.java
Due: Android

refactor(mobilertapp): Fix more linter warnings
  app/build.gradle
  app/src/main/java/puscas/mobilertapp/MainActivity.java
  app/src/main/java/puscas/mobilertapp/exceptions/LowMemoryException.java
Due: Android

fix(UtilsContext): Fix getSdCardFilePath for older Android versions
  app/src/main/java/puscas/mobilertapp/utils/UtilsContext.java
Due: Android

ci(codecov): Ignore errors on patch
  codecov.yml
Due: none

ci(android): Update workflow to support Android API 36
  .github/workflows/android-matrix.json
  .github/workflows/reusable-android.yml
  codecov.yml
  docs/README.md
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: none

ci(android): Only install the required APKs
  .github/workflows/reusable-android.yml
  scripts/run_tests_android.sh
Due: Shell-scripts
