Repository TiagoMSSantos/MobileRT: changes, and which Codecov flags are due for each by the changed paths.
All: Android, Native, Shell-scripts

codecov.yml:

ignore:
  - "**/third_party/**"
  - "**/Unit_Testing/**"
  - "**/test/**"
  - "**/androidTest/**"
  - "gradlew"

codecov:
  require_ci_to_pass: true
  bot: "codecov-bot"
  max_report_age: off
  disable_default_path_fixes: false
  allow_pseudo_compare: true
  notify:
    after_n_builds: 1
    wait_for_ci: true
    notify_error: true
    manual_trigger: false

coverage:
  precision: 2
  round: down
  range: "0..100"
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    project:
      Android:
        target: 72%
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false
        if_not_found: failure
        removed_code_behavior: false
        paths:
          - app/**/*.java
          - app/**/*.kt
          - app/System_dependent/Android_JNI/**
      Native:
        target: 88%
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false
        if_not_found: failure
        removed_code_behavior: false
        paths:
          - app/**/*.cpp
          - app/**/*.hpp
          - app/**/*.h
          - "!app/System_dependent/**"
          - app/System_dependent/Native/**
      Shell-scripts:
        target: 5%
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false
        if_not_found: failure
        removed_code_behavior: false
        paths:
          - scripts/*.sh
          - scripts/**/*.sh
      default:
        # Note that code coverage requires the following tests to validate the whole codebase:
        # * Android tests (from Android workflow)
        # * Native tests (from Native workflow)
        # * Shell script tests (from Code Analysis workflow)
        # So, if not all workflows above were executed, then the code coverage is not valid.
        target: 53%
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false
        if_not_found: failure
        removed_code_behavior: false
    patch:
      default:
        target: auto
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false
        if_not_found: failure
        removed_code_behavior: false
    changes:
      default:
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false
        if_not_found: failure
        removed_code_behavior: false

parsers:
  jacoco:
    partials_as_hits: false
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
  cobertura:
    partials_as_hits: false
    handle_missing_conditions: false

comment:
  layout: "header, diff, flags, components, reach, tree, files"  # show component info in the PR comment
  behavior: "default"
  require_changes: false
  require_head: false
  require_base: false
  show_carryforward_flags: false

github_checks:
  annotations: true

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: module_android  # this is an identifier that should not be changed
      name: Android  # this is a display name, and can be changed freely
      paths:
        - app/**/*.java
        - app/**/*.kt
        - app/System_dependent/Android_JNI/**
    - component_id: module_native
      name: Native
      paths:
        - app/**/*.cpp
        - app/**/*.hpp
        - app/**/*.h
        - "!app/System_dependent/**"
        - app/System_dependent/Native/**
    - component_id: module_shell_scripts
      name: Shell-scripts
      paths:
        - scripts/*.sh
        - scripts/**/*.sh

Potential fix for code scanning alert no. 559: Unused local variable
  app/MobileRT/Utils/Utils.hpp
Due: Native

Potential fix for code scanning alert no. 560: Unused static variable
  app/MobileRT/Utils/Utils.hpp
Due: Native

fix(Components): Avoid adding duplicated textures to the cache
  app/Components/Loaders/OBJLoader.cpp
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: Native

fix(mobilertapp): Read scene files in parallel
  app/Components/Loaders/OBJLoader.cpp
  app/Components/Loaders/OBJLoader.hpp
  app/System_dependent/Android_JNI/JNI_layer.cpp
  app/src/main/java/puscas/mobilertapp/MainActivity.java
  app/src/test/java/puscas/mobilertapp/MainActivityTest.java
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: Android, Native

ci(android): Increase attempt_delay between attempts
  .github/workflows/reusable-android.yml
  app/src/main/java/puscas/mobilertapp/MainActivity.java
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: Android

fix(run_tests_android): Add timeout to all adb commands
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
  scripts/run_tests_android.sh
Due: Shell-scripts

fix(run_tests_android): Add more timeout to adb commands
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
  scripts/run_tests_android.sh
Due: Shell-scripts

fix(run_tests_android.sh): Fix call to adb shell
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
  scripts/run_tests_android.sh
Due: Shell-scripts

fix(run_tests_android.sh): Add more timeout to adb commands
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
  scripts/run_tests_android.sh
Due: Shell-scripts

fix(run_tests_android.sh): Increase timeout of unit tests to 2min
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
  scripts/run_tests_android.sh
Due: Shell-scripts

fix(android): Increase timeout of unit tests in Android device
  app/System_dependent/Android_JNI/JNI_layer.cpp
  app/src/main/java/puscas/mobilertapp/MainActivity.java
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
  scripts/run_tests_android.sh
Due: Android, Shell-scripts

ci(android): Increase attempt_delay in "Download Gradle packages artifact" step
  .github/workflows/reusable-android.yml
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: none

fix(android): Disable PIE-style unit tests executable for Android API 15
  app/Unit_Testing/CMakeLists.txt
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
  scripts/compile_android.sh
  scripts/run_tests.sh
  scripts/run_tests_android.sh
Due: Shell-scripts

ci(android): Allow to cache AVD snapshot in "Run Android tests" step
  .github/workflows/android_repeatable.yml
  .github/workflows/reusable-android.yml
  AGENTS.md
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
  scripts/run_tests_android.sh
Due: Shell-scripts

ci(android): Remove references to matrix which were wrong
  .github/workflows/reusable-android.yml
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: none

ci(android): Do not create folder for Android API 34 AVD
  .github/workflows/reusable-android.yml
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: none

chore(scripts): Remove unnecessary new lines in shell scripts
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
  scripts/check_android.sh
  scripts/compile_android.sh
  scripts/compile_native.sh
  scripts/helper_functions.sh
  scripts/profile.sh
  scripts/run_tests.sh
  scripts/run_tests_android.sh
Due: Shell-scripts

chore(scripts): Remove more unnecessary new lines
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
  scripts/docker.sh
  scripts/run_tests_android.sh
Due: Shell-scripts

chore(scripts): Remove some commented code
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
  scripts/docker.sh
  scripts/install_dependencies.sh
  scripts/run_tests.sh
Due: Shell-scripts

chore(scripts): Remove more unnecessary new lines
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
  scripts/helper_functions.sh
  scripts/run_tests_android.sh
Due: Shell-scripts

ci(android): Add Android emulator flag `-no-snapshot-save`
  .github/workflows/android_repeatable.yml
  .github/workflows/reusable-android.yml
  scripts/run_tests_android.sh
Due: Shell-scripts

fix(build.gradle): Downgrade Kotlin Gradle plugin for Android API 15
  app/build.gradle
  build.gradle
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
  gradle/wrapper/gradle-wrapper.jar
  gradlew
  gradlew.bat
Due: none

ci(renovate): Update Renovate to not update Kotlin for Android API 15
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
  renovate.json
Due: none

fix(android): Downgrade Kotlin for Android API 15
  build.gradle
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
  renovate.json
Due: none

fix(android): Suppress many linter warnings
  app/src/androidTest/AndroidManifest.xml
  app/src/androidTest/java/puscas/mobilertapp/AbstractTest.java
  app/src/androidTest/java/puscas/mobilertapp/utils/UtilsT.java
  app/src/main/AndroidManifest.xml
  app/src/main/java/puscas/mobilertapp/MainActivity.java
  app/src/main/java/puscas/mobilertapp/MainRenderer.java
  app/src/main/java/puscas/mobilertapp/constants/ConstantsUI.java
  app/src/main/java/puscas/mobilertapp/utils/UtilsContext.java
  app/src/main/res/layout/activity_main.xml
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
  scripts/helper_functions.sh
  scripts/run_tests_android.sh
Due: Android, Shell-scripts

fix(android): Suppress more linter warnings
  app/src/androidTest/AndroidManifest.xml
  app/src/main/AndroidManifest.xml
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/xml/data_extraction_rules.xml
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: none

ci(android): Trigger Android pipelines if Android XML files are modified
  .github/workflows/android.yml
  .github/workflows/codeql.yml
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: none

ci(android): Hide output of some commands in catch_signal
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
  scripts/run_tests_android.sh
Due: Shell-scripts

fix(run_tests_android): Fail script if unit tests fail on Android API 15
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
  scripts/run_tests_android.sh
Due: Shell-scripts

fix(AndroidManifest): Disable android:allowBackup
  app/src/androidTest/AndroidManifest.xml
  app/src/main/AndroidManifest.xml
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: none

fix(AndroidManifest): Suppress warning for using deprecated android:allowBackup
  app/src/main/AndroidManifest.xml
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: none

fix(helper_functions.sh): Fix retry in callAdbShellCommandUntilSuccess
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
  scripts/helper_functions.sh
  scripts/test/helper_functions.sh
Due: Shell-scripts

test(testCallAdbShellCommandUntilSuccess): Also test case with 2 return values
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
  scripts/test/helper_functions.sh
Due: none

Apply suggestion from @TiagoMSSantos
  build.gradle
Due: none

ci(renovate): Rewrite Gradle Wrapper packageRule to not update legacy
  renovate.json
Due: none

ci(renovate): Remove unnecessary matchUpdateTypes
  renovate.json
Due: none

ci(renovate): Remove another matchUpdateTypes
  renovate.json
Due: none

chore(build.gradle): Revert update of Gradle wrapper
  build.gradle
Due: none

chore(build.gradle): Revert update of Android Gradle version
  build.gradle
Due: none
