Repository TiagoMSSantos/MobileRT: changes, and which Codecov flags are due for each by the changed paths.
All: Android, Native, Shell-scripts

fix(deps): update dependency org.jetbrains.kotlin:kotlin-gradle-plugin to v2.3.0
  build.gradle
Due: none

ci(android_repeatable): Remove repeatable job for Android API 33
  .github/workflows/android_repeatable-matrix.json
Due: none

ci(native): Add report_type parameter to codecov-action
  .github/workflows/reusable-native.yml
Due: none

ci(renovate.json): Add config to update kotlin-gradle-plugin
  renovate.json
Due: none

ci(renovate): Improve config to update androidx.core:core for Android API >= 19
  renovate.json
Due: none

ci(profile.sh): Do not use perf on ARM CPUs
  scripts/profile.sh
Due: Shell-scripts

fix(MobileRT): Load scene into OBJLoader in windows 2022
  .github/workflows/disabled/android-matrix.json
  .github/workflows/disabled/android.yml
  .github/workflows/disabled/android_repeatable-matrix.json
  .github/workflows/disabled/android_repeatable.yml
  .github/workflows/disabled/codeql-matrix.json
  .github/workflows/disabled/codeql.yml
  .github/workflows/disabled/docker-matrix.json
  .github/workflows/disabled/docker.yml
  .github/workflows/disabled/jekyll-matrix.json
  .github/workflows/disabled/jekyll.yml
  .github/workflows/disabled/reusable-android.yml
  .github/workflows/native-matrix.json
  app/Components/Loaders/OBJLoader.cpp
  app/Components/Loaders/OBJLoader.hpp
  app/MobileRT/Intersection.cpp
  app/MobileRT/Utils/Utils.cpp
  app/System_dependent/Android_JNI/JNI_layer.cpp
  app/System_dependent/Native/C_wrapper.cpp
  app/System_dependent/Native/Qt/MobileRT/main.cpp
  app/System_dependent/Native/Qt/MobileRT/mainwindow.cpp
  app/Unit_Testing/TestOBJLoader.cpp
  app/Unit_Testing/engine/TextureTestEngine.cpp
  scripts/profile.sh
Due: Android, Native, Shell-scripts

fix(MobileRT): Add flag '-finline-limit' to reduce inline functions
  app/CMakeLists.txt
  app/Unit_Testing/CMakeLists.txt
  scripts/profile.sh
Due: Shell-scripts

chore(deps): Update sonarqube to v7
  build.gradle
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
  gradle.properties
  gradle/wrapper/gradle-wrapper.jar
Due: none

chore(deps): update gradle to v9.2.1
  app/build.gradle
  build.gradle
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
  gradle/wrapper/gradle-wrapper.jar
Due: none

chore(deps): update gradle to v9.2.1
  .github/workflows/reusable-android.yml
  app/build.gradle
  build.gradle
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
  gradle/wrapper/gradle-wrapper.jar
Due: none

ci(workflows): Disable cache in setup-java github actions
  .github/workflows/android_repeatable.yml
  .github/workflows/codeql.yml
  .github/workflows/reusable-android.yml
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: none

chore(androidTest): Do not take screenshot in Android API 23
  app/src/androidTest/java/puscas/mobilertapp/utils/UtilsT.java
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: none

chore(androidTest): Do not take screenshot on Android API 17
  app/src/androidTest/java/puscas/mobilertapp/utils/UtilsT.java
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: none

fix(mobilertapp): Remove unnecessary parameters
  app/src/androidTest/java/puscas/mobilertapp/AbstractTest.java
  app/src/androidTest/java/puscas/mobilertapp/system/FileSystemTest.java
  app/src/androidTest/java/puscas/mobilertapp/utils/UtilsT.java
  app/src/main/java/puscas/mobilertapp/MainActivity.java
  app/src/main/java/puscas/mobilertapp/utils/UtilsContext.java
  app/src/test/java/puscas/mobilertapp/MainActivityTest.java
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: Android

chore(third_party): Update glm to v1.0.3
  app/third_party/CMakeLists.txt
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: none

ci(workflows): Remove unnecessary caches
  .github/workflows/codeql.yml
  .github/workflows/docker.yml
  .github/workflows/reusable-android.yml
  .github/workflows/reusable-native.yml
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: none

ci(codeql): Disable caching in codeql-action/init
  .github/workflows/codeql.yml
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: none

ci(workflows): Add retry of Android Build cache
  .github/workflows/android.yml
  .github/workflows/android_repeatable.yml
  .github/workflows/codeql.yml
  .github/workflows/reusable-android.yml
  .github/workflows/reusable-native.yml
  app/Components/Loaders/OBJLoader.cpp
  app/System_dependent/Android_JNI/JNI_layer.cpp
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
  scripts/check_android.sh
  scripts/compile_android.sh
  scripts/run_tests.sh
  scripts/run_tests_android.sh
Due: Android, Native, Shell-scripts

ci(android): Add retry mechanism to 'adb shell pm list instrumentation'
  .github/workflows/android_repeatable.yml
  .github/workflows/reusable-android.yml
  app/src/androidTest/java/puscas/mobilertapp/AbstractTest.java
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
  scripts/run_tests_android.sh
Due: Shell-scripts

ci(android): Do not trigger native job if 1 already finished before
  .github/workflows/android.yml
  .github/workflows/android_repeatable.yml
  .github/workflows/reusable-android.yml
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
  scripts/helper_functions.sh
  scripts/run_tests_android.sh
Due: Shell-scripts

fix(mobilertapp): Update waitToFinish to wait with the caller thread
  app/src/main/java/puscas/mobilertapp/utils/AsyncTaskCoroutine.kt
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
  scripts/helper_functions.sh
  scripts/run_tests_android.sh
Due: Android, Shell-scripts

ci(workflows): Add retry mechanism to steps action-download-artifact
  .github/workflows/codeql.yml
  .github/workflows/reusable-android.yml
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: none

ci(workflows): Add retry mechanism in Android emulator step
  .github/workflows/android_repeatable.yml
  .github/workflows/reusable-android.yml
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: none

ci(android): Increase attempt delay before retrying steps
  .github/workflows/android_repeatable.yml
  .github/workflows/reusable-android.yml
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: none

ci(android): Reduce attempt_delay
  .github/workflows/android_repeatable.yml
  .github/workflows/reusable-android.yml
Due: none

ci(android): Only retry to upload to cache if previous attempt fails
  .github/workflows/reusable-android.yml
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: none

fix(androidTest): Request MobileRT window focus before each test
  app/src/androidTest/java/puscas/mobilertapp/AbstractTest.java
Due: none

ci(android): Add back the command 'am broadcast -a android.intent.action.CLOSE_SYSTEM_DIALOGS'
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
  scripts/run_tests_android.sh
Due: Shell-scripts

ci(run_tests_android): Unlock Android device before executing tests
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
  scripts/run_tests_android.sh
Due: Shell-scripts

fix(helper_functions): Add timeout when executing adb shell commands
  .github/workflows/android_repeatable.yml
  .github/workflows/codeql.yml
  .github/workflows/reusable-android.yml
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
  scripts/helper_functions.sh
  scripts/run_tests_android.sh
  scripts/test/helper_functions.sh
Due: Shell-scripts

ci(android): Make Android tests retry 2 times if failed
  .github/workflows/android_repeatable.yml
  .github/workflows/reusable-android.yml
Due: none

ci(android): Add steps to download NDK
  .github/workflows/android_repeatable.yml
  .github/workflows/reusable-android.yml
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: none

ci(android): Increase timeout of running Android tests step
  .github/workflows/android_repeatable.yml
  .github/workflows/reusable-android.yml
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: none

ci(renovate): Update packageRule for gradle
  renovate.json
Due: none

ci(renovate): Add matchManagers to packageRule of gradle
  renovate.json
Due: none

chore(deps): update gradle to v9.3.0
  build.gradle
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
Due: none

fix(Components): Simplify destructor of OBJLoader
  app/Components/Loaders/OBJLoader.cpp
  app/Components/Loaders/OBJLoader.hpp
  app/MobileRT/ObjectLoader.cpp
  app/MobileRT/ObjectLoader.hpp
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: Native

fix(Components): Add some guardrails in OBJLoader::fillScene
  app/Components/Loaders/OBJLoader.cpp
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: Native

Path conditions:
  Android: any of: app/**/*.java, app/**/*.kt, app/System_dependent/Android_JNI/**, but not: **/third_party/**, **/Unit_Testing/**, **/test/**, **/androidTest/**, gradlew
  Native: any of: app/**/*.cpp, app/**/*.hpp, app/**/*.h, app/System_dependent/Native/**, but not: app/System_dependent/**, **/third_party/**, **/Unit_Testing/**, **/test/**, **/androidTest/**, gradlew
  Shell-scripts: any of: scripts/*.sh, scripts/**/*.sh, but not: **/third_party/**, **/Unit_Testing/**, **/test/**, **/androidTest/**, gradlew
