Repository TiagoMSSantos/MobileRT: changes, and which Codecov flags are due for each by the changed paths.
All: Android, Native, Shell-scripts

codecov.yml:

ignore:
  - "**/third_party/**"
  - "**/Unit_Testing/**"
  - "**/test/**"
  - "**/androidTest/**"
  - "gradlew"

codecov:
  require_ci_to_pass: true
  bot: "codecov-bot"
  max_report_age: off
  disable_default_path_fixes: false
  allow_pseudo_compare: true
  notify:
    after_n_builds: 1
    wait_for_ci: true
    notify_error: true
    manual_trigger: false

coverage:
  precision: 2
  round: down
  range: "0..100"
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    project:
      Android:
        target: 72%
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false
        if_not_found: failure
        removed_code_behavior: false
        paths:
          - app/**/*.java
          - app/**/*.kt
          - app/System_dependent/Android_JNI/**
      Native:
        target: 88%
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false
        if_not_found: failure
        removed_code_behavior: false
        paths:
          - app/**/*.cpp
          - app/**/*.hpp
          - app/**/*.h
          - "!app/System_dependent/**"
          - app/System_dependent/Native/**
      Shell-scripts:
        target: 5%
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false
        if_not_found: failure
        removed_code_behavior: false
        paths:
          - scripts/*.sh
          - scripts/**/*.sh
      default:
        # Note that code coverage requires the following tests to validate the whole codebase:
        # * Android tests (from Android workflow)
        # * Native tests (from Native workflow)
        # * Shell script tests (from Code Analysis workflow)
        # So, if not all workflows above were executed, then the code coverage is not valid.
        target: 53%
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false
        if_not_found: failure
        removed_code_behavior: false
    patch:
      default:
        target: auto
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false
        if_not_found: failure
        removed_code_behavior: false
    changes:
      default:
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false
        if_not_found: failure
        removed_code_behavior: false

parsers:
  jacoco:
    partials_as_hits: false
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
  cobertura:
    partials_as_hits: false
    handle_missing_conditions: false

comment:
  layout: "header, diff, flags, components, reach, tree, files"  # show component info in the PR comment
  behavior: "default"
  require_changes: false
  require_head: false
  require_base: false
  show_carryforward_flags: false

github_checks:
  annotations: true

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: module_android  # this is an identifier that should not be changed
      name: Android  # this is a display name, and can be changed freely
      paths:
        - app/**/*.java
        - app/**/*.kt
        - app/System_dependent/Android_JNI/**
    - component_id: module_native
      name: Native
      paths:
        - app/**/*.cpp
        - app/**/*.hpp
        - app/**/*.h
        - "!app/System_dependent/**"
        - app/System_dependent/Native/**
    - component_id: module_shell_scripts
      name: Shell-scripts
      paths:
        - scripts/*.sh
        - scripts/**/*.sh

chore(deps): update gradle to v9.4.0
  build.gradle
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Due: none

chore(deps): update ghcr.io/devcontainers/features/common-utils docker tag to v2.5.7
  .devcontainer/devcontainer.json
Due: none

tests(MobileRT): Improve some unit tests to validate values from Bitmap
  app/MobileRT/Renderer.cpp
  app/MobileRT/Utils/Utils.hpp
  app/Unit_Testing/engine/AcceleratorTestEngine.cpp
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: Native

ci(AcceleratorTestEngine): Print both bitmaps when they don't match
  app/Unit_Testing/engine/AcceleratorTestEngine.cpp
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: none

test(AcceleratorTestEngine): Fix print of vectors
  app/Unit_Testing/engine/AcceleratorTestEngine.cpp
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: none

fix(Utils): Allow to also print array of constant values
  app/MobileRT/Utils/Utils.hpp
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: Native

test(AcceleratorTestEngine): Only fail if 2 consecutive pixels validation fail
  app/Unit_Testing/engine/AcceleratorTestEngine.cpp
Due: none

test(AcceleratorTestEngine): Increase resolution of bitmap
  .github/workflows/docker.yml
  .github/workflows/reusable-native.yml
  app/MobileRT/Renderer.cpp
  app/Unit_Testing/engine/AcceleratorTestEngine.cpp
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: Native

test(AcceleratorTestEngine): Only fail if 3 consecutive pixels validation fail
  app/Unit_Testing/engine/AcceleratorTestEngine.cpp
Due: none

test(AcceleratorTestEngine): Increase max acceptable pixel diff
  app/Unit_Testing/engine/AcceleratorTestEngine.cpp
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: none

test(AcceleratorTestEngine): Increase acceptable diff for BVH
  app/Unit_Testing/engine/AcceleratorTestEngine.cpp
Due: none

test(run_tests_android): Skip unit tests if binary is not PIE compliant
  .github/workflows/android-matrix.json
  .github/workflows/android.yml
  .github/workflows/disabled/android_repeatable-matrix.json
  .github/workflows/disabled/android_repeatable.yml
  .github/workflows/disabled/codeql-matrix.json
  .github/workflows/disabled/codeql.yml
  .github/workflows/disabled/docker-matrix.json
  .github/workflows/disabled/docker.yml
  .github/workflows/disabled/jekyll-matrix.json
  .github/workflows/disabled/jekyll.yml
  .github/workflows/disabled/ml_model-payload.json
  .github/workflows/disabled/ml_model.yml
  .github/workflows/disabled/native-matrix.json
  .github/workflows/disabled/native.yml
  .github/workflows/disabled/release-notes-merge.json
  .github/workflows/disabled/release-notes-payload.json
  .github/workflows/disabled/release.json
  .github/workflows/disabled/release.yml
  .github/workflows/disabled/renovate.yml
  .github/workflows/disabled/reusable-native.yml
  app/Unit_Testing/CMakeLists.txt
  app/build.gradle
  scripts/compile_android.sh
  scripts/run_tests_android.sh
Due: Shell-scripts

test(run_tests_android): Skip unit tests if binary is not PIE compliant in Android >= 21
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
  gradle.properties
  scripts/compile_android.sh
  scripts/run_tests_android.sh
Due: Shell-scripts

ci(compile_android): Do not fail if Unit Tests binary supports PIE
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
  scripts/compile_android.sh
Due: Shell-scripts

chore(ml_model): Make script to also execute some unit tests
  scripts/ml_model.sh
Due: Shell-scripts

fix(ml_model): Improve validations in ml_model.sh script
  scripts/ml_model.sh
Due: Shell-scripts

chore(deps): update reactivecircus/android-emulator-runner digest to 5d6e86d
  .github/workflows/android_repeatable.yml
  .github/workflows/reusable-android.yml
Due: none

chore(deps): update mcr.microsoft.com/devcontainers/universal docker tag to v5.1.5
  .devcontainer/devcontainer.json
Due: none

feat(BVH): Parallelize build of BVH
  app/MobileRT/Accelerators/BVH.hpp
Due: Native

chore(deps): update dependency dawidd6/action-download-artifact to v17
  .github/workflows/release.yml
  .github/workflows/reusable-android.yml
  .github/workflows/reusable-native.yml
Due: none

fix(deps): update dependency org.springframework:spring-test to v7.0.6
  app/build.gradle
Due: none

ci(codecov.yml): Update code coverage targets
  codecov.yml
Due: none

ci(codeql): Do not trigger job if codecov.yml is modified
  .github/workflows/codeql.yml
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: none

chore(deps): update dependency dawidd6/action-download-artifact to v18
  .github/workflows/release.yml
  .github/workflows/reusable-android.yml
  .github/workflows/reusable-native.yml
Due: none

chore(deps): update reactivecircus/android-emulator-runner digest to e89f39f
  .github/workflows/android_repeatable.yml
  .github/workflows/reusable-android.yml
Due: none

ci(codecov): Decrease target of Native builds
  codecov.yml
Due: none

chore(deps): update dependency dawidd6/action-download-artifact to v19
  .github/workflows/release.yml
  .github/workflows/reusable-android.yml
  .github/workflows/reusable-native.yml
Due: none

chore(deps): update confluentinc/cp-zookeeper docker tag to v7.9.6
  deploy/docker-compose.yml
Due: none

feat(MobileRT): Parallelize BVH build
  app/MobileRT/Accelerators/BVH.hpp
Due: Native

ci(workflows): Enable Qt, CodeQL and Android SDK caching
  .github/workflows/codeql.yml
  .github/workflows/reusable-android.yml
  .github/workflows/reusable-native.yml
Due: none

ci(workflows): Speed up CodeQL, Android repeatable and docs builds
  .github/workflows/android_repeatable.yml
  .github/workflows/codeql.yml
  .github/workflows/jekyll.yml
  .github/workflows/reusable-native.yml
Due: none
