Repository TiagoMSSantos/MobileRT: changes, and which Codecov flags are due for each by the changed paths.
All: Android, Native, Shell-scripts

codecov.yml:

ignore:
  - "**/third_party/**"
  - "**/Unit_Testing/**"
  - "**/test/**"
  - "**/androidTest/**"
  - "gradlew"

codecov:
  require_ci_to_pass: true
  bot: "codecov-bot"
  max_report_age: off
  disable_default_path_fixes: false
  allow_pseudo_compare: true
  notify:
    after_n_builds: 1
    wait_for_ci: true
    notify_error: true
    manual_trigger: false

coverage:
  precision: 2
  round: down
  range: "0..100"
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    project:
      Android:
        target: 72%
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false
        if_not_found: failure
        removed_code_behavior: false
        paths:
          - app/**/*.java
          - app/**/*.kt
          - app/System_dependent/Android_JNI/**
      Native:
        target: 88%
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false
        if_not_found: failure
        removed_code_behavior: false
        paths:
          - app/**/*.cpp
          - app/**/*.hpp
          - app/**/*.h
          - "!app/System_dependent/**"
          - app/System_dependent/Native/**
      Shell-scripts:
        target: 5%
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false
        if_not_found: failure
        removed_code_behavior: false
        paths:
          - scripts/*.sh
          - scripts/**/*.sh
      default:
        # Note that code coverage requires the following tests to validate the whole codebase:
        # * Android tests (from Android workflow)
        # * Native tests (from Native workflow)
        # * Shell script tests (from Code Analysis workflow)
        # So, if not all workflows above were executed, then the code coverage is not valid.
        target: 53%
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false
        if_not_found: failure
        removed_code_behavior: false
    patch:
      default:
        target: auto
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false
        if_not_found: failure
        removed_code_behavior: false
    changes:
      default:
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false
        if_not_found: failure
        removed_code_behavior: false

parsers:
  jacoco:
    partials_as_hits: false
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
  cobertura:
    partials_as_hits: false
    handle_missing_conditions: false

comment:
  layout: "header, diff, flags, components, reach, tree, files"  # show component info in the PR comment
  behavior: "default"
  require_changes: false
  require_head: false
  require_base: false
  show_carryforward_flags: false

github_checks:
  annotations: true

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: module_android  # this is an identifier that should not be changed
      name: Android  # this is a display name, and can be changed freely
      paths:
        - app/**/*.java
        - app/**/*.kt
        - app/System_dependent/Android_JNI/**
    - component_id: module_native
      name: Native
      paths:
        - app/**/*.cpp
        - app/**/*.hpp
        - app/**/*.h
        - "!app/System_dependent/**"
        - app/System_dependent/Native/**
    - component_id: module_shell_scripts
      name: Shell-scripts
      paths:
        - scripts/*.sh
        - scripts/**/*.sh

ci(android): Download Gradle artifacts only from the same run ID
  .github/workflows/reusable-android.yml
  app/src/androidTest/java/puscas/mobilertapp/AbstractTest.java
Due: none

chore(deps): update docker/setup-buildx-action digest to d7f5e7f
  .github/workflows/docker.yml
Due: none

chore(deps): update ghcr.io/devcontainers/features/copilot-cli docker tag to v1.1.3
  .devcontainer/devcontainer.json
Due: none

ci(android): Enable spellchecker on Android emulator
  .github/workflows/android_repeatable.yml
  .github/workflows/reusable-android.yml
Due: none

ci(android): Use x86 Android emulator for API 25
  .github/workflows/android_repeatable.yml
  .github/workflows/reusable-android.yml
  app/src/androidTest/java/puscas/mobilertapp/AbstractTest.java
Due: none

ci(android): make the API 26 instrumentation tests pass
  .github/workflows/android_repeatable.yml
  .github/workflows/reusable-android.yml
  .gitignore
  AGENTS.md
  app/build.gradle
  scripts/helper_functions.sh
  scripts/run_tests_android.sh
Due: Shell-scripts

ci(android): Update sonarqube & use selected Android API for Sonar
  .github/workflows/reusable-android.yml
  build.gradle
  renovate.json
Due: none

fix(deps): update update rust crates
  app/web-server/Cargo.toml
Due: none

ci(android): wire Sonar C/C++ analysis and fix scanner failures
  .github/workflows/android.yml
  .github/workflows/reusable-android.yml
  app/build.gradle
  sonar-project.properties
Due: none

ci(android): Fix Sonar for Android API 15 by also caching gradlew script
  .github/workflows/reusable-android.yml
Due: none

fix(deps): update all patch updates to v0.8.15
  build.gradle
Due: none

ci: harden CI against transient failures and add native crash diagnostics
  .github/workflows/android_repeatable.yml
  .github/workflows/codeql.yml
  .github/workflows/reusable-android.yml
  .github/workflows/reusable-native.yml
  codecov.yml
  scripts/helper_functions.sh
  scripts/run_tests_android.sh
Due: Shell-scripts

chore(deps): update dependency codecov/codecov-action to v7
  .github/workflows/reusable-android.yml
  .github/workflows/reusable-native.yml
Due: none

chore(deps): update all digest updates to fb8b358
  .github/workflows/reusable-android.yml
  .github/workflows/reusable-native.yml
Due: none

ci: harden Android emulator CI and dependency-download network resilience
  .github/workflows/android_repeatable.yml
  .github/workflows/reusable-android.yml
  .github/workflows/reusable-native.yml
  gradle.properties
  gradle/wrapper/gradle-wrapper.properties
Due: none

ci(android): harden test harness diagnostics and old-API stability
  scripts/helper_functions.sh
  scripts/run_tests_android.sh
Due: Shell-scripts

ci(android): adopt Test Orchestrator, fix connected-test coverage
  app/build.gradle
  build.gradle
Due: none

fix(deps): update androidx_test_orchestrator_version to v1.6.1
  build.gradle
Due: none

fix(deps): update androidx_test_services_version to v1.6.0
  build.gradle
Due: none

ci(android): fix crash-diagnostics logcat capture on old APIs
  scripts/run_tests_android.sh
Due: Shell-scripts

ci(renovate): manage test orchestrator/services, lock old-API tiers
  renovate.json
Due: none

fix(deps): update spring core to v7.0.8
  app/build.gradle
Due: none

ci(codecov): Reduce target for Shell scripts module
  codecov.yml
Due: none

chore(deps): update all digest updates to 5e2ebd0
  .github/workflows/codeql.yml
Due: none

ci(android): Add step "Download Android NDK from cache" for UnitTests job
  .github/workflows/reusable-android.yml
Due: none

chore(deps): update docker images to v3.24.0
  .github/workflows/docker-matrix.json
  scripts/docker.sh
Due: Shell-scripts

chore(deps): update mobilert docker images to alpine-3.24.0
  deploy/mobilert-chart/values.yaml
Due: none

fix(JNI): Wait for last MobileRT execution when stopping render
  app/System_dependent/Android_JNI/JNI_layer.cpp
Due: Android

build(third_party): Add retry mechanism when cloning submodules
  app/third_party/CMakeLists.txt
Due: none

ci(android): Harden emulator wedge handling and crash post-mortem
  .github/workflows/android_repeatable.yml
  .github/workflows/reusable-android.yml
  scripts/run_tests_android.sh
Due: Shell-scripts

chore(deps): update all digest updates to 3f131e8
  .github/workflows/codeql.yml
Due: none
