Repository TiagoMSSantos/MobileRT: changes, and which Codecov flags are due for each by the changed paths.
All: Android, Native, Shell-scripts

ci(androidTest): Fix Android tests flakiness between tests
  app/System_dependent/Android_JNI/JNI_layer.cpp
  app/src/androidTest/java/puscas/mobilertapp/AbstractTest.java
  scripts/install_dependencies.sh
Due: Android, Shell-scripts

chore(deps): update ghcr.io/devcontainers/features/common-utils docker tag to v2.5.8
  .devcontainer/devcontainer.json
Due: none

chore(deps): update dependency qt to v6.10.3
  app/third_party/conan/Native/conanfile.txt
Due: none

chore(deps): update docker images
  deploy/docker-compose.yml
Due: none

chore(deps): update dependency qt to v6.11.0
  app/third_party/conan/Native/conanfile.txt
Due: none

ci: Reduce pipeline runtime across all workflows
  .github/workflows/android_repeatable.yml
  .github/workflows/codeql.yml
  .github/workflows/docker.yml
  .github/workflows/jekyll.yml
  .github/workflows/ml_model.yml
  .github/workflows/reusable-android.yml
  .github/workflows/reusable-native.yml
  scripts/helper_functions.sh
  scripts/install_dependencies.sh
Due: Shell-scripts

ci: Fix NDK cache timeout, close CodeQL security alerts, and prevent re-compilation in test jobs
  .github/workflows/reusable-android.yml
  .github/workflows/reusable-native.yml
  app/src/main/java/puscas/mobilertapp/MainActivity.java
  scripts/install_dependencies.sh
Due: Android, Shell-scripts

ci(android): Cache Gradle build cache files between jobs
  .github/workflows/reusable-android.yml
Due: none

ci(workflows): Cache ccache for Android C++ builds between jobs
  .github/workflows/docker.yml
  .github/workflows/reusable-android.yml
  .github/workflows/reusable-native.yml
  app/build.gradle
Due: none

ci(android): Make ccache reuse native C++ build objects across jobs
  .github/workflows/reusable-android.yml
Due: none

build(build.gradle): Disable verbose CMake logs
  app/build.gradle
Due: none

ci(workflows): Enable ccache for docker & native workflows
  .github/workflows/android_repeatable.yml
  .github/workflows/codeql.yml
  .github/workflows/docker.yml
  .github/workflows/reusable-android.yml
  .github/workflows/reusable-native.yml
  app/src/androidTest/java/puscas/mobilertapp/AbstractTest.java
  app/src/androidTest/java/puscas/mobilertapp/utils/UtilsT.java
  scripts/compile_native.sh
  scripts/docker.sh
Due: Shell-scripts

ci(docker): Do not execute step "Delete unnecessary Docker images" for Windows
  .github/workflows/docker.yml
Due: none

ci(android): Enable animations in Android emulator
  .github/workflows/android.yml
  .github/workflows/android_repeatable.yml
  .github/workflows/reusable-android.yml
  scripts/run_tests_android.sh
Due: Shell-scripts

ci: Hand large per-run files between jobs via artifacts instead of cache
  .github/workflows/reusable-android.yml
  .github/workflows/reusable-native.yml
  scripts/run_tests_android.sh
Due: Shell-scripts

ci(android): Make the Gradle packages handoff specific to each commit and run
  .github/workflows/reusable-android.yml
Due: none

chore(deps): update ghcr.io/devcontainers/features/docker-in-docker docker tag to v3
  .devcontainer/devcontainer.json
Due: none

chore(deps): update mcr.microsoft.com/devcontainers/universal docker tag to v6.0.4
  .devcontainer/Dockerfile
Due: none

chore(deps): update codecov/codecov-action digest to e79a696
  .github/workflows/reusable-android.yml
  .github/workflows/reusable-native.yml
Due: none

ci(android): Add step to force a timeout when adb commands hang due to emulator
  .github/workflows/android_repeatable.yml
  .github/workflows/reusable-android.yml
Due: none

chore(deps): update dependency qt to v6.11.1
  app/third_party/conan/Native/conanfile.txt
Due: none

chore(deps): update ghcr.io/devcontainers/features/docker-in-docker docker tag to v3.0.1
  .devcontainer/devcontainer.json
Due: none

fix(android): stabilize Espresso focus and fast-fail wedged emulators
  .github/workflows/android_repeatable.yml
  .github/workflows/reusable-android.yml
  app/src/androidTest/java/puscas/mobilertapp/AbstractTest.java
  scripts/run_tests_android.sh
Due: Shell-scripts

chore(deps): update ghcr.io/devcontainers/features/common-utils docker tag to v2.5.9
  .devcontainer/devcontainer.json
Due: none

ci: retry Codecov uploads to survive transient GPG-key fetch failures
  .github/workflows/reusable-android.yml
  .github/workflows/reusable-native.yml
Due: none

fix(android): dismiss keyguard and harden Espresso focus-acquisition retry
  .github/workflows/android_repeatable.yml
  app/src/androidTest/java/puscas/mobilertapp/AbstractTest.java
Due: none

ci: retry Codecov uploads via native continue-on-error (wretry can't wrap composite)
  .github/workflows/reusable-android.yml
  .github/workflows/reusable-native.yml
Due: none

ci(android): Boot Android Emulator using x86 arch for API 24
  .github/workflows/android_repeatable.yml
  .github/workflows/reusable-android.yml
Due: none

chore(deps): update docker/login-action digest to 650006c
  .github/workflows/docker.yml
Due: none

Path conditions:
  Android: any of: app/**/*.java, app/**/*.kt, app/System_dependent/Android_JNI/**, but not: **/third_party/**, **/Unit_Testing/**, **/test/**, **/androidTest/**, gradlew
  Native: any of: app/**/*.cpp, app/**/*.hpp, app/**/*.h, app/System_dependent/Native/**, but not: app/System_dependent/**, **/third_party/**, **/Unit_Testing/**, **/test/**, **/androidTest/**, gradlew
  Shell-scripts: any of: scripts/*.sh, scripts/**/*.sh, but not: **/third_party/**, **/Unit_Testing/**, **/test/**, **/androidTest/**, gradlew
