Repository TiagoMSSantos/MobileRT: changes, and which Codecov flags are due for each by the changed paths.
All: Android, Native, Shell-scripts

codecov.yml:

ignore:
  - "**/third_party/**"
  - "**/Unit_Testing/**"
  - "**/test/**"
  - "**/androidTest/**"
  - "gradlew"

codecov:
  require_ci_to_pass: true
  bot: "codecov-bot"
  max_report_age: off
  disable_default_path_fixes: false
  allow_pseudo_compare: true
  notify:
    after_n_builds: 1
    wait_for_ci: true
    notify_error: true
    manual_trigger: false

coverage:
  precision: 2
  round: down
  range: "0..100"
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    project:
      Android:
        target: 72%
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false
        if_not_found: failure
        removed_code_behavior: false
        paths:
          - app/**/*.java
          - app/**/*.kt
          - app/System_dependent/Android_JNI/**
      Native:
        target: 88%
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false
        if_not_found: failure
        removed_code_behavior: false
        paths:
          - app/**/*.cpp
          - app/**/*.hpp
          - app/**/*.h
          - "!app/System_dependent/**"
          - app/System_dependent/Native/**
      Shell-scripts:
        target: 5%
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false
        if_not_found: failure
        removed_code_behavior: false
        paths:
          - scripts/*.sh
          - scripts/**/*.sh
      default:
        # Note that code coverage requires the following tests to validate the whole codebase:
        # * Android tests (from Android workflow)
        # * Native tests (from Native workflow)
        # * Shell script tests (from Code Analysis workflow)
        # So, if not all workflows above were executed, then the code coverage is not valid.
        target: 53%
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false
        if_not_found: failure
        removed_code_behavior: false
    patch:
      default:
        target: auto
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false
        if_not_found: failure
        removed_code_behavior: false
    changes:
      default:
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false
        if_not_found: failure
        removed_code_behavior: false

parsers:
  jacoco:
    partials_as_hits: false
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
  cobertura:
    partials_as_hits: false
    handle_missing_conditions: false

comment:
  layout: "header, diff, flags, components, reach, tree, files"  # show component info in the PR comment
  behavior: "default"
  require_changes: false
  require_head: false
  require_base: false
  show_carryforward_flags: false

github_checks:
  annotations: true

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: module_android  # this is an identifier that should not be changed
      name: Android  # this is a display name, and can be changed freely
      paths:
        - app/**/*.java
        - app/**/*.kt
        - app/System_dependent/Android_JNI/**
    - component_id: module_native
      name: Native
      paths:
        - app/**/*.cpp
        - app/**/*.hpp
        - app/**/*.h
        - "!app/System_dependent/**"
        - app/System_dependent/Native/**
    - component_id: module_shell_scripts
      name: Shell-scripts
      paths:
        - scripts/*.sh
        - scripts/**/*.sh

ci(docker): Add git lfs pull on Dockerfiles
  .github/workflows/docker.yml
  deploy/Dockerfile.unix
  deploy/Dockerfile.windows
  scripts/docker.sh
Due: Shell-scripts

fix(Dockerfile): Do git lfs pull after cd into MobileRT directory
  deploy/Dockerfile.unix
  deploy/Dockerfile.windows
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: none

fix(Dockerfile): Install git lfs before pulling files
  deploy/Dockerfile.unix
  deploy/Dockerfile.windows
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: none

ci(workflows): Update some Github actions
  .github/workflows/android_repeatable.yml
  .github/workflows/codeql.yml
  .github/workflows/jekyll.yml
  .github/workflows/reusable-android.yml
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: none

ci(docker): Revert "Add permissions to read contents for Docker workflow"
  .github/workflows/docker.yml
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: none

test(mobilertapp): Take screenshots of Android UI after some tests
  .github/workflows/reusable-android.yml
  app/src/androidTest/AndroidManifest.xml
  app/src/androidTest/java/puscas/mobilertapp/AbstractTest.java
  app/src/androidTest/java/puscas/mobilertapp/RayTracingTest.java
  app/src/androidTest/java/puscas/mobilertapp/utils/UtilsT.java
  app/src/main/AndroidManifest.xml
  app/src/main/java/puscas/mobilertapp/utils/UtilsContext.java
  scripts/run_tests_android.sh
Due: Android, Shell-scripts

test(run_tests_android): Check screenshots for Android API >= 18 & <= 22
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
  scripts/run_tests_android.sh
Due: Shell-scripts

ci(android): Make upload test screenshots not fail if no file found
  .github/workflows/reusable-android.yml
Due: none

fix(mobilertapp): Prepare code to read files from /data/user/0/puscas.mobilertapp/files
  app/src/androidTest/AndroidManifest.xml
  app/src/androidTest/java/puscas/mobilertapp/AbstractTest.java
  app/src/androidTest/java/puscas/mobilertapp/system/FileSystemTest.java
  app/src/androidTest/java/puscas/mobilertapp/utils/UtilsT.java
  app/src/main/java/puscas/mobilertapp/MainActivity.java
  app/src/main/java/puscas/mobilertapp/utils/UtilsContext.java
  app/src/test/java/puscas/mobilertapp/MainActivityTest.java
Due: Android

chore(deps): Prepare update gradle to v9.1.0
  gradlew
  gradlew.bat
Due: none

fix(scripts): Improve function callAdbShellCommandUntilSuccess
  app/src/androidTest/java/puscas/mobilertapp/AbstractTest.java
Due: none

fix(scripts): Improve function callAdbShellCommandUntilSuccess
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
  scripts/helper_functions.sh
  scripts/run_tests_android.sh
  scripts/test/helper_functions.sh
Due: Shell-scripts

fix(scripts): Small cleanup in callAdbShellCommandUntilSuccess
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
  scripts/helper_functions.sh
Due: Shell-scripts

fix(run_tests_android): Set androidApi in _waitForEmulatorToBoot
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
  scripts/run_tests_android.sh
Due: Shell-scripts

fix(helper_functions): Only fail if = is found at the beginning of line
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
  scripts/helper_functions.sh
Due: Shell-scripts

fix(helper_functions): Remove double quotes from qtPathExcludeFilter
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
  scripts/helper_functions.sh
Due: Shell-scripts

fix(run_tests_android): Improve call of getprop
  .github/workflows/android-matrix.json
  .github/workflows/android.yml
  .github/workflows/disabled/android_repeatable-matrix.json
  .github/workflows/disabled/android_repeatable.yml
  .github/workflows/disabled/codeql-matrix.json
  .github/workflows/disabled/codeql.yml
  .github/workflows/disabled/docker-matrix.json
  .github/workflows/disabled/docker.yml
  .github/workflows/disabled/jekyll-matrix.json
  .github/workflows/disabled/jekyll.yml
  .github/workflows/disabled/native-matrix.json
  .github/workflows/disabled/native.yml
  .github/workflows/disabled/reusable-native.yml
  .github/workflows/reusable-android.yml
  scripts/helper_functions.sh
  scripts/run_tests_android.sh
Due: Shell-scripts

fix(run_tests_android): Improve call of getprop in Android device
  scripts/helper_functions.sh
  scripts/run_tests_android.sh
Due: Shell-scripts

style(scripts): Add explicit disables of some shellchecks validations
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
  scripts/helper_functions.sh
  scripts/test/helper_functions.sh
Due: Shell-scripts

test(androidTest): Mark testAllocatingHeapMemoryNative as flaky test
  app/src/androidTest/java/puscas/mobilertapp/system/NativeMemoryTest.java
  docs/jscpd-report/html/index.html
  docs/jscpd-report/html/jscpd-report.json
Due: none

chore(deps): Prepare update gradle to v9.1.0
  app/build.gradle
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  scripts/run_tests_android.sh
Due: Shell-scripts

ci(renovate): Only update androidx.test:core for Android API >= 21
  renovate.json
Due: none

ci(renovate): Fix update of androidx.test:core
  renovate.json
Due: none

fix(web-server): Close websockets if server can't send bitmap
  app/web-server/Makefile
  app/web-server/src/lib.rs
  app/web-server/static/index.html
  app/web-server/static/script.js
Due: none

feat(build.gradle): Prepare update Gradle to v9.1.0
  .github/workflows/reusable-android.yml
  app/build.gradle
  build.gradle
Due: none

chore(deps): Prepare update gradle to v9.1.0
  .github/workflows/reusable-android.yml
  app/build.gradle
Due: none

ci(android): Do not validate classes in built_in_kotlinc for now
  .github/workflows/reusable-android.yml
Due: none

chore(deps): update dependency android/ndk to v29
  build.gradle
Due: none

ci(renovate): Only update minor and major of ruby
  renovate.json
Due: none

chore(deps): Prepare update gradle to v9.2.0
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
Due: none

chore(deps): Prepare update gradle to v9.2.1
  gradle/wrapper/gradle-wrapper.properties
Due: none

fix(MobileRT): Small fixes on CI pipeline
  .github/workflows/android_repeatable.yml
  app/MobileRT/Utils/Utils.cpp
  scripts/profile.sh
Due: Native, Shell-scripts

chore(deps): update dependency ruby to v4
  .github/workflows/jekyll.yml
  .github/workflows/reusable-native.yml
Due: none

chore(deps): Update github actions & git submodules
  .github/codeql/codeql-config.yml
  .github/workflows/android.yml
  .github/workflows/android_repeatable.yml
  .github/workflows/codeql.yml
  .github/workflows/docker.yml
  .github/workflows/jekyll.yml
  .github/workflows/native.yml
  .github/workflows/reusable-android.yml
  .github/workflows/reusable-native.yml
Due: none
